#wrapper{
    position: absolute;
    left: 30%;
    top : 20%;
    width: 500px;
    border: 1px solid #242282;
}
#startTime{
    background-color: #242282;
    margin-left: 33%;
    padding: 15px , 32px;
    font-size: 20px;
    color: antiquewhite;
}

#questionsHere{
    margin: 20px;

}
#currentTime{
    float: right;
}

#goBack{
    background-color: #242282;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: antiquewhite;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;

}
#clear{
    background-color: #242282;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: antiquewhite;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;

}

button{
    border-radius: 8px;

}

textarea{
    width: 90%;
    margin: 20px;

}

#Submit{
    background-color: #242282;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: antiquewhite;
}
